<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.parkingapp.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminViewAreaRequestServlet</servlet-name>
        <servlet-class>com.parkingapp.servlet.AdminViewAreaRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminApproveAreaRequest</servlet-name>
        <servlet-class>com.parkingapp.servlet.AdminApproveAreaRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewUserServlet</servlet-name>
        <servlet-class>com.parkingapp.servlet.ViewUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AreaAdminRegisterServlet</servlet-name>
        <servlet-class>com.parkingapp.webserviceservlet.AreaAdminRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBookingServlet</servlet-name>
        <servlet-class>com.parkingapp.servlet.ViewBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegisterServlet</servlet-name>
        <servlet-class>com.parkingapp.webserviceservlet.UserRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserEditProfileServlet</servlet-name>
        <servlet-class>com.parkingapp.webserviceservlet.UserEditProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserWalletRechargeServlet</servlet-name>
        <servlet-class>com.parkingapp.webserviceservlet.UserWalletRechargeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AreaAdminEditServlet</servlet-name>
        <servlet-class>com.parkingapp.webserviceservlet.AreaAdminEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QrCodeServlet</servlet-name>
        <servlet-class>com.parkingapp.webserviceservlet.QrCodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUserInfoServlet</servlet-name>
        <servlet-class>com.parkingapp.webserviceservlet.GetUserInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetParkingInfoServlet</servlet-name>
        <servlet-class>com.parkingapp.webserviceservlet.GetParkingInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserGetNearByParkingSpacesServlet</servlet-name>
        <servlet-class>com.parkingapp.webserviceservlet.UserGetNearByParkingSpacesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAccountServlet</servlet-name>
        <servlet-class>com.parkingapp.webserviceservlet.UserAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParkAmountCalculateServlet</servlet-name>
        <servlet-class>com.parkingapp.webserviceservlet.ParkAmountCalculateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NumOfSlotServlet</servlet-name>
        <servlet-class>com.parkingapp.webserviceservlet.NumOfSlotServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParkingUserTimeInServlet</servlet-name>
        <servlet-class>com.parkingapp.webserviceservlet.ParkingUserTimeInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUserBalanceDetailsServlet</servlet-name>
        <servlet-class>com.parkingapp.webserviceservlet.GetUserBalanceDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewFeedBackServlet</servlet-name>
        <servlet-class>com.parkingapp.servlet.ViewFeedBackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminBlockAreaAdminServlet</servlet-name>
        <servlet-class>com.parkingapp.servlet.AdminBlockAreaAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.parkingapp.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUnBlockAreaAdminServlet</servlet-name>
        <servlet-class>com.parkingapp.servlet.AdminUnBlockAreaAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRejectAreaRequest</servlet-name>
        <servlet-class>com.parkingapp.servlet.AdminRejectAreaRequest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminViewAreaRequestServlet</servlet-name>
        <url-pattern>/AdminViewAreaRequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminApproveAreaRequest</servlet-name>
        <url-pattern>/AdminApproveAreaRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewUserServlet</servlet-name>
        <url-pattern>/ViewUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AreaAdminRegisterServlet</servlet-name>
        <url-pattern>/AreaAdminRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBookingServlet</servlet-name>
        <url-pattern>/ViewBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegisterServlet</servlet-name>
        <url-pattern>/UserRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserEditProfileServlet</servlet-name>
        <url-pattern>/UserEditProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserWalletRechargeServlet</servlet-name>
        <url-pattern>/UserWalletRechargeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AreaAdminEditServlet</servlet-name>
        <url-pattern>/AreaAdminEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QrCodeServlet</servlet-name>
        <url-pattern>/QrCodeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUserInfoServlet</servlet-name>
        <url-pattern>/GetUserInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetParkingInfoServlet</servlet-name>
        <url-pattern>/GetParkingInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserGetNearByParkingSpacesServlet</servlet-name>
        <url-pattern>/UserGetNearByParkingSpacesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAccountServlet</servlet-name>
        <url-pattern>/UserAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParkAmountCalculateServlet</servlet-name>
        <url-pattern>/ParkAmountCalculateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NumOfSlotServlet</servlet-name>
        <url-pattern>/NumOfSlotServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParkingUserTimeInServlet</servlet-name>
        <url-pattern>/ParkingUserTimeInServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUserBalanceDetailsServlet</servlet-name>
        <url-pattern>/GetUserBalanceDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewFeedBackServlet</servlet-name>
        <url-pattern>/ViewFeedBackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminBlockAreaAdminServlet</servlet-name>
        <url-pattern>/AdminBlockAreaAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUnBlockAreaAdminServlet</servlet-name>
        <url-pattern>/AdminUnBlockAreaAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRejectAreaRequest</servlet-name>
        <url-pattern>/AdminRejectAreaRequest</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
